.table{
border: 1px solid gray;
  width: 95%;
  margin-top: 80px !important;
margin-left: 2%;
}
.table th{
    border: 1px solid gray;
    text-align: center;
    padding: 8px;
}

.table tr{
    border: 1px solid gray;
    text-align: center;
    padding: 8px;
}

form{
    display:flex;
}
h2{
    text-align: center
}
.enterData{
    display: flex;
    flex-direction: column;
    width: 400px;
margin-left: auto;
margin-right: auto;
}
TextField{
    margin-bottom: 20px;
    width: 300px;
    height: 34px;
    margin-top: -150p;
    margin-left: 500px;
}
.add{
    width: 200px;
    height: 30px;
    margin-left: 100px !important;;
    color: white !important;
    background: #1976d2 !important;
    text-align: center !important;
    margin-bottom: 20px !important;
}

.app-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
  }